@font-face{
    font-family: 'Noto Sans KR';
    src : url('https://jangyunseong.github.io/webproject/font/NotoSansKR-Medium.ttf') format('truetype');
}
#wrapper{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: calc(50% - 1920px/2);
    top: calc(50% - 1080px/2);
    background: #F6F6F6;
}
#title{
    position: absolute;
    width: 250px;
    height: 116px;
    left: 173px;
    top: 96px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 116px;
/* identical to box height */
    color: #29CF6A;
}
#home{
    position: absolute;
    width: 88px;
    height: 43px;
    left: 1678px;
    top: 165px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    text-align: right;

    color: #BDBDBD;
}
#contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 50px;

    position: absolute;
    width: 1652px;
    height: 800px;
    left: 134px;
    bottom: 0px;
    overflow-y: scroll;
}
.list{
    position: static;
    width: 1612px;
    height: 206px;
    left: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px 0px;
}
.listFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 1531px;
    left: 48px;
    top: 35px;
}
.textgroup{
    position: absolute;
    width: 1493.85px;
    height: 43px;
    left: 0px;
    top: 0px;
    float: left;
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2px 0px;
}
.from{
    position: absolute;
    width: 163.22px;
    height: 43px;
    left: calc(50% - 163.22px/2 - 683.89px);
    top: calc(100% - 10px/2 - 45px);

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;

    color: #29CF6A;
}
.to{
    position: absolute;
    width: 163.22px;
    height: 43px;
    left: calc(50% - 163.22px/2 - 683.89px);
    top: calc(100% - 10px/2);

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;

    color: #FFA1BC;
}
.when{
    position: absolute;
    width: 163px;
    height: 43px;
    left: calc(50% - 163px/2 - 684px);
    top: calc(100% - 10px/2 + 45px);

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;

    color: #000000;
}
.fromtext{
    position: absolute;
    width: 1320.63px;
    height: 43px;
    left: calc(50% - 1320.63px/2 + 68.04px);
    top: calc(100% - 5px/2 - 45px);
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    
    color: #000000;
}
.totext{
    position: absolute;
    width: 1320.63px;
    height: 43px;
    left: calc(50% - 1320.63px/2 + 68.04px);
    top: calc(100% - 5px/2);
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    
    color: #000000;
}
.whentext{
    position: absolute;
    width: 1358px;
    height: 43px;
    left: calc(50% - 1358px/2 + 86.5px);
    top: calc(100% - 5px/2 + 45px);
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    
    color: #000000;
}